* {
  box-sizing: border-box;
  /* text-align: center; */
  
  
}

body {

  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
  font-size: 18px;
  width: 960px;
  background: #ffffff;
}

h1 {
  color: white;
}



a:link {
   text-decoration: none; 
   margin-right: 20px;
 }

#header {
  float: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
  width: 200px;
  height: 50px;
  margin-left: 50px;
 /* margin: 50px;*/
  padding: 15px;
  text-align: center;
  background: #4aaaa5;
 }

#nav{
  float: left;
  text-align: left;
  margin-left: 410px;
  width: 300px;
  height: 50px;
  /*margin: 50px;*/
  padding: 20px;
  background: green;
}

#main{
  clear:left;
  float: left;
  width: 1100px;
  height: 600px;
  /*margin-left: 50px;*/
 background: blue;
 /*background: red;*/
}

h2{
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}


#aboutme{
  clear: left;
  float: left;
  width: 600px;
  height: 500px;
  margin-left: 50px;
  margin-top: 50px;
 /* background: #ffffff;*/
 background: red;

}

#aboutmetext{
  float: top;
  margin-top: 25px;
  margin-left:25px;
  width: 550px;
  height: 400px;
  background: green; 
}

#aboutmebox{
  border-style: solid;
  border-top: thick double #ff0000;
  margin-top: 20px;
  padding: 20px;
}

#text1{
  'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

#aboutmepic{
  float:left;
  margin-left: 20px;
  margin-right: 20px;
}

#portfolio{
  clear: left;
  float: left;
  width: 600px;
  height: 500px;
  margin-left: 50px;
  margin-top: 50px;
 /* background: #ffffff;*/
 background: red;

}

#portfoliotext{
  float: top;
  margin-top: 25px;
  margin-left:25px;
  width: 550px;
  height: 400px;
  background: green; 
}

#contact{
  clear: left;
  float: left;
  width: 600px;
  height: 500px;
  margin-left: 50px;
  margin-top: 50px;
 /* background: #ffffff;*/
 background: red;

}

#contacttext{
  float: top;
  margin-top: 25px;
  margin-left:25px;
  width: 550px;
  height: 400px;
  background: green; 
}


img {
  display: inline-block;
}

h3{
  text-align: center;
  margin-top: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

#connect{
  float: left;
  height: 160px;
  width: 225px;
  margin-left: 50px;
  margin-top:50px;
  background: yellow;
}

#connectwithme{
  border-style: solid;
  border-top: thick double #ff0000;
  margin-top: 20px;
  padding: 20px;
}

#footer{
  clear: left;
  box-sizing: border-box;
  border-top: 3px;
  border-color: #4aaaa5;
  /* float: top;*/
  width: 960px;
  height: 50px;
  text-align: center;
  background: #666666;
  padding: 15px;
  color: white;
}

#footer2{
  clear: left;
  box-sizing: border-box;
  border-top: 3px;
  border-color: #4aaaa5;
  /* float: top;*/
  width: 1100px;
  height: 50px;
  text-align: center;
  background: #666666;
  padding: 15px;
  color: white;
  border-top: 5px solid #4aaaa5;
}